.header {
	width: 100%;
	background-color: thistle;
	height: 50px;
	display: flex;
	align-items: center;
}

.link {
	font-size: large;
	text-decoration: none;
	background-color: aliceblue;
	color: blueviolet;
	border-radius: 5%;
	height: 30px;
	padding: 5px;
	margin-left: 10px;
	line-height: 2.8ch;
}
